html, body {
  font-size: 14px;
  line-height: 1.25rem;
  font-smoothing: subpixel-ant;
  --webkit-font-smoothing: subpixel-ant;
  --moz-font-smoothing: subpixel-ant;
  -o-font-smoothing: subpixel-ant;
}

h1, h2 {
  font-family: $header-font;
  font-weight: 700;
}

h3, h4, th {
  font-family: $subheader-font;
  font-weight: 700;
}

h5 {
  font-family: $subheader-font;
  font-weight: 800;
}

h6 {
  font-family: $accent-font;
  font-weight: 700;
  font-size: 1.5rem;
}

p, td, li, ol, ul, div {
  font-family: $body-sans-font;
  font-weight: 500;
  line-height: 2rem;
}

.highlight {
  @include code;
}

