@mixin light {
  background-color: $cloud;
  color: $midnight;
}

@mixin card {
  border-top: 1px solid $grayscale2-100;
  border-right: 1px solid $silver;
  border-bottom: 1px solid $white;
  border-left: 1px solid $silver;
  border-radius: 4px;
  padding: 3rem;
  margin: 2rem;
  box-shadow: 1px 1px 1px 1px $grayscale2-200;
}

.light-card {
  @include card;
  @include light;
}

@mixin code {
  font-family: $monospace-font;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: $grayscale1-300;
  color: $granite;
  overflow: hidden;
}
