// Fonts
$header-font: sofia-pro-condensed, sans-serif;
$subheader-font: proxima-soft-extra-condensed, sans-serif;
$subheader2-font: apparat-lightcond, sans-serif;
$body-sans-font: sofia-pro, sans-serif;
$body2-sans-font: apparat-light, sans-serif;

$accent-font: decoy, serif;
$monospace-font: dico-mono-script, monospace;

// CUSTOM COLORS:



