// Fonts
$header-font: sofia-pro-condensed, sans-serif;
$subheader-font: sofia-pro-condensed, proxima-extra-condensed, sans-serif;
$body-sans-font: sofia-pro-regular, sans-serif;
//$body2-sans-font: apparat-light, sans-serif;
//$body3-sans-font: 'apparat', sans-serif;

$accent-font: fairplex, serif;

//$monospace-font: dico-mono-script, monospace;
$monospace-font: auger-mono, monospace;

// CUSTOM COLORS:



