@import 'variables';

.logo {
  width: 250px;
  height: auto;
  color: $silver;
  //background: rgba(255, 255, 255, 0.2);
  margin: 16px 30px;

  .anticon-gift {
    color: $silver;
    font-size: 30px;
  }

  .logo-text {
    color: $silver;
    font-size: 1.4rem;
    margin-left: 0.65rem;
    top: 0;
    font-weight: 500;
  }
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: $ocean;
}

nz-header {
  background: $grayscale2-50;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: $white;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.ant-layout {
  min-height: 100%;
}
