<!-- CORE -->
<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
    <a [routerLink]="['/']" class="logo" *ngIf="!isCollapsed">
      <span nz-icon nzType="gift" nzTheme="fill"></span>
      <span class="logo-text">
          {{ title }}
      </span>
    </a>
    <!-- TODO: Should animate when click event is triggered -->
    <div class="collapsed-logo" *ngIf="isCollapsed">
      <span nz-icon nzType="gift" nzTheme="fill"></span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Followers" nzIcon="team">
        <ul>
          <li nz-menu-item>Follower User 1</li>
          <li nz-menu-item>Follower User 2</li>
          <li nz-menu-item>Follower User 3</li>
          <li nz-menu-item>Follower User 4</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Following" nzIcon="heart">
        <ul>
          <!-- <ul *ngFor="let follow of following">-->
          <li nz-menu-item>Following User 1</li>
          <li nz-menu-item>Following User 2</li>
          <li nz-menu-item>Following User 3</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="plus"></span>
        <span>New Gift</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="toggle-trigger">
        <a class="trigger"
           type="button"
           nz-icon
           [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
           (click)="sidebarToggle()">
        </a>
      </div>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <!-- TODO: This value will load dynamically via routerLink -->
        <nz-breadcrumb-item>Dynamic Route</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <!-- Will import data per-routes -->
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer></nz-footer>
  </nz-layout>
</nz-layout>




